/* -------------------------------responsividade ------------------------------------------------------ */
@media (max-width: 1800px ){
    
    a{
     font-size: 18pt;
    }
    .container .container-image{
        gap: 25px;
    }
    .container-image{
        align-items: center;
        justify-content: center;
   }
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         padding: 25px 0px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image img{
         width: 100%;
         height: 400px; /* altura */
         /* width: 600px; */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     .container .container-image .image h3{
         font-size: 20px;
         color: #01060c;
         font: normal Impact;
     }
 
 }
 
 @media (max-width: 1450px) {
        a{
         font-size: 15pt;
        }

        .container-image{
            align-items: center;
           justify-content: center;
       }
        .container .container-image{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 25px 0px;   
        }   
         .container .container-image .image{
             width: 100%;
         }
         .container .container-image .image img{
             width: 100%;
             height: 400px; /* altura */
             /* width: 600px; */
             object-fit: cover;
             margin-bottom: 10px;
             border-radius: 5px;
             transition: all 0.3s ease;
         }
         .container .container-image .image h3{
             font-size: 20px;
             color: #01060c;
             font: normal Impact;
         }
     }
@media (max-width: 1360px) {
    a{
        font-size: 12pt;
       }
    .container-image{
         align-items: center;
        justify-content: center;
    }
    .container{
        align-items: center;
        justify-content: center;
        
    }
    .container .container-image{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 25px 0px;
        gap: 30px;
    }
    .container .container-image .image{
        width: 100%;
    }
    .container .container-image .image img{
        width: 100%;
        height: 400px; /* altura */
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .container .container-image .image h3{
        font-size: 20px;
        color: #01060c;
        font: normal Impact;
    }

    }
 @media (max-width: 1250px ){
     .container{
         padding: 20px 4%;
         text-align: center;
     }
    
    
     .container .container-image .image img{
         width: 100%;
         height: 350px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(1fr);
         padding: 25px 30px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image h3{
         font-size: 20px;
         color: #01060c;
         font: normal Impact;
     }
 
 }
 
 @media (max-width: 884px ){
     a{
         font-size: 17pt;
        }
     .container{
         padding: 20px 4%;
         text-align: center;
     }
    
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         padding: 25px 20px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image img{
         width: 100%;
         height: 400px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     .container .container-image .image h3{
         font-size: 30px;
         color: #01060c;
         font: normal Impact;
     }
     
 }
 
 @media (max-width: 428px ){
     a{
     font-size: 13pt;
    }
     
     .container{
         padding: 25px 4%;
         text-align: center;
         
     }
     
    
     .container .container-image .image img{
         width: 100%;
         height: 250px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(1fr);
         padding: 25px 20px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image h3{
         font-size: 20px;
         color: #01060c;
         font: normal Impact;
     }
     
 
 }
 