/* -------------------------------responsividade ------------------------------------------------------ */
@media (max-width: 1800px ){
    
    a{
     font-size: 18pt;
    }
    .container .container-image{
        gap: 25px;
    }
    .container-image{
        align-items: center;
        justify-content: center;
   }
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         padding: 25px 0px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image img{
         width: 100%;
         height: 400px; /* altura */
         /* width: 600px; */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     .container .container-image .image h3{
         font-size: 20px;
         color: #01060c;
         font: normal Impact;
     }
 
 }
 
 @media (max-width: 1450px) {
        a{
         font-size: 15pt;
        }

        .container-image{
            align-items: center;
           justify-content: center;
       }
        .container .container-image{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 25px 0px;   
        }   
         .container .container-image .image{
             width: 100%;
         }
         .container .container-image .image img{
             width: 100%;
             height: 400px; /* altura */
             /* width: 600px; */
             object-fit: cover;
             margin-bottom: 10px;
             border-radius: 5px;
             transition: all 0.3s ease;
         }
         .container .container-image .image h3{
             font-size: 20px;
             color: #01060c;
             font: normal Impact;
         }
     }
@media (max-width: 1360px) {
    a{
        font-size: 12pt;
       }
    .container-image{
         align-items: center;
        justify-content: center;
    }
    .container{
        align-items: center;
        justify-content: center;
        
    }
    .container .container-image{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 25px 0px;
        gap: 30px;
    }
    .container .container-image .image{
        width: 100%;
    }
    .container .container-image .image img{
        width: 100%;
        height: 400px; /* altura */
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .container .container-image .image h3{
        font-size: 20px;
        color: #01060c;
        font: normal Impact;
    }

    }
 @media (max-width: 1250px ){
     .container{
         padding: 20px 4%;
         text-align: center;
     }
    
    
     .container .container-image .image img{
         width: 100%;
         height: 350px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(1fr);
         padding: 25px 30px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image h3{
         font-size: 20px;
         color: #01060c;
         font: normal Impact;
     }
     .container .container-image .image img{
        transition: all 0.3s ease;
    }
    .container .container-image .image img:hover{
        transform: scale(1.3);
    }
 
 }
 
 @media (max-width: 884px ){
     a{
         font-size: 15pt;
        }
     .container{
         padding: 20px 4%;
         text-align: center;
     }
    
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         padding: 25px 20px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image img{
         width: 100%;
         height: 400px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     .container .container-image .image h3{
         font-size: 30px;
         color: #01060c;
         font: normal Impact;
     }
     
 }

  
 @media (max-width: 699px ){
    a{
        font-size: 14pt;
       }
    }

 @media (max-width: 428px ){
    a{
        font-size: 13pt;
       }
     .container{
         padding: 8px 3%;
         text-align: center;
     }
     
     .container .heading{
        text-align: center;
        color: #212767;
        font: normal 39pt "Anton", sans-serif;
        opacity: 100%;
        text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
    }
     .container .container-image .image img{
         width: 100%;
         height: 300px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(1fr);
         padding: 25px 20px;
     }
       
     .container .container-image .image{
         width: 100%;
         padding: 7px;
     }
     .container .container-image .image h3{
         font-size: 20px;
         color: #01060c;
         font: normal Impact;
     }
    .container .container-image .image img{
        transition: all 0.3s ease;
    }
    .container .container-image .image img:hover{
        transform: scale(1.3);
    }
    .instagram {
        display: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu ul{
        min-width: 10px; /*ajusata o tamanha do submenu*/
    }
 }

@media (max-width: 166px ){
    a{
        font-size: 9pt;
       }
    .container .heading{
        text-align: center;
        color: #212767;
        font: normal 22pt "Anton", sans-serif;
        opacity: 100%;
        text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
    }

    .container .container-image{
        display: grid;
        gap: 10px;
        padding: 15px;
    }

    .container .container-image .image{
        height: 145px;
        padding: 3px;
    }
    
    .container .container-image .image img{
        width: 140px; /*largura */
        border-radius: 6px;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        background-color: #d8d7e2;
        padding: 1px;
        animation: fadeIn .2s linear;
        max-width:150px;
        max-height:112px;
        /* width: auto;
        height: auto; */
        margin: 0 auto  ;
         
        
    }
    .container .container-image .image h3{
        font-size: 11px;
        margin: 0 auto;
        color: #01060c;
        font: normal Impact;
    }
    .container .container-image .image img{
        transition: all 0.3s ease;
    }
    .container .container-image .image img:hover{
        transform: scale(1.2);
    }
    .instagram {
        display: none;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;
    }
    .menu ul{
        min-width: 8px; /*ajusata o tamanha do submenu*/
    }
    
   
    
 }
 