/* -------------------------------responsividade ------------------------------------------------------ */
@media (max-width: 1800px ){
    
    a{
     font-size: 18pt;
    }
 
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         gap: 50px;
         padding: 25px 0px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image img{
         width: 100%;
         height: 400px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     .container .container-image .image h3{
         font-size: 20px;
         color: #01060c;
         font: normal Impact;
     }
 
 }
 
 @media (max-width: 1450px ){
     a{
         font-size: 13pt;
        }

        .heading{
            padding: 0px;
        }

     .container .container-image{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         padding: 15px 0px;
         gap: 40px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image img{
         width: 100%;
         height: 400px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     .container .container-image .image h3{
         font-size: 20px;
         color: #01060c;
         font: normal Impact;
     }
 
 }
 @media (max-width: 1250px ){
     .container{
         padding: 20px 0%;
         text-align: center;
     }
    
     .container .container-image .image img{
         width: 100%;
         height: 625px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
         
     }
     
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         gap: 25px;
         padding: 25px 50px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image h3{
         font-size: 20px;
         color: #01060c;
         font: normal Impact;
     }
 
 }
 
 @media (max-width: 884px ){
     a{
         font-size: 17pt;
        }
    .heading{
        padding: 4px;
    }
     .container{
         padding: 10px 4%;
         text-align: center;
         justify-content:center;
         
     }
    
     .container .container-image{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         padding: 25px 10px;
     }
       
     .container .container-image .image{
         width: 100%;
     }
     .container .container-image .image img{
         width: 100%;
         height: 400px; /* altura */
         object-fit: cover;
         margin-bottom: 10px;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     .container .container-image .image h3{
         font-size: 30px;
         color: #01060c;
         font: normal Impact;
     }
     .container .heading{
        text-align: center;
        text-align: center;
        color: #212767;
        font: normal 56pt "Anton", sans-serif;
        opacity: 100%;
        text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
    }
     
 }
 @media (max-width: 428px ){
    a{
    font-size: 13pt;
   }
    .container{
        padding: 0px 1%;
        text-align: center;
    }

    .container .heading{
       text-align: center;
       color: #212767;
       font: normal 45pt "Anton", sans-serif;
       opacity: 100%;
       padding: 15px;
       text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
   }
   
    .container .container-image .image img{
        width: 100%;
        height: 300px; /* altura */
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    
    .container .container-image{
        display: grid;
        grid-template-columns: repeat(1fr);
        padding: 25px 11px;
    }
      
    .container .container-image .image{
        width: 100%;
        padding: 9px;
    }
    .container .container-image .image h3{
        font-size: 20px;
        color: #01060c;
        font: normal Impact;
    }
    /* .container .container-image .image{
        width: 760px;
        border-radius: 5px; 
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        background-color: #d8d7e2;
        padding: 12px;
        animation: fadeIn .2s linear;
    } */
    

}
@media (max-width: 162px ){
    a{
        font-size: 10pt;
        }
    .container .heading{
        text-align: center;
        color: #212767;
        font: normal 19pt "Anton", sans-serif;
        opacity: 100%;
        margin: 5px;
        text-shadow: 6px 4px 3px rgb(100 100 100 / 60%);
    }

    .container .container-image{
        display: grid;
        gap: 10px;
        padding: 13px;
    }

    .container .container-image .image{
        height: 129px;
        padding: 3px;
    }
    
    .container .container-image .image img{
        width: 130px; /*largura */
        border-radius: 6px;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        background-color: #d8d7e2;
        padding: 1px;
        animation: fadeIn .2s linear;
        max-width:150px;
        max-height:112px;
        /* width: auto;
        height: auto; */
        margin: 0 auto  ;
  
    }
    .container .container-image .image h3{
        font-size: 11px;
        margin: 0 auto;
        color: #01060c;
        font: normal Impact;
    }
    .container .container-image .image img{
        transition: all 0.3s ease;
    }
    .container .container-image .image img:hover{
        transform: scale(1.2);
    }
    
    
    }