* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #000;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav {
    background-color: blue;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.instagram {
    display: none;
}